@page "/admin/book"
@page "/admin"
@inherits OwningComponentBase<IBookstoreRepository>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>

        @if (BooksData?.Count() > 0)
        {
            @foreach (Books b in BooksData)
            {
                <tr>
                    <td>@b.BookId</td>
                    <td>@b.Title</td>
                    <td>@b.Category</td>

                    <td>
                        <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(b.BookId)">Details</NavLink>
                    </td>
                    <td>
                        <NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(b.BookId)">Edit</NavLink>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="@(x => RemoveBooks(b))">Delete</button>
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Books</td>
            </tr>
        }
    </tbody>
</table>

<NavLink class="btn btn-primary" href="/admin/book/create">Create</NavLink>


@code {
    public IBookstoreRepository repo => Service;

    public IEnumerable<Books> BooksData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        BooksData = await repo.Books.ToListAsync();
    }

    public string GetDetailsUrl(long id) => $"/admin/book/details/{id}";
    public string GetEditUrl(long id) => $"/admin/book/edit/{id}";

    public async Task RemoveBooks (Books b)
    {
        repo.DeleteBooks(b);
        await UpdateData();
    }
}

